<div id="wrapper">
  <div id="left">
    <fieldset id="legend">
      <legend>Legend</legend>
      <p>X: Empty position.</p>
      <p>O: Peg position.</p>
    </fieldset>
    <br>
    <fieldset>
      <legend>Set State</legend>
      <%= form_tag('/boards/set_state_top', :method=>'post') do %>
          <%= button_tag 'No Peg In The Center Top Position' %>
      <% end %>
      <br>
      <%= form_tag('/boards/set_state_right', :method=>'post') do %>
          <%= button_tag 'No Peg In The Bottom Right Position' %>
      <% end %>
      <br>
      <%= form_tag('/boards/set_state_left', :method=>'post') do %>
          <%= button_tag 'No Peg In The Bottom Left Position' %>
      <% end %>
      <br>
      <%= form_tag('/boards/set_state_random_all', :method=>'post') do %>
          <%= button_tag 'Multiple Random Missing Pegs' %>
      <% end %>
      <br>
      <%= form_tag('/boards/set_state_random_single', :method=>'post') do %>
          <%= button_tag 'Single Random Missing Peg' %>
      <% end %>
    </fieldset>
    <br>
    <fieldset id="positions">
      <legend>Positions</legend>
      <p>Numbered 0 to 14 as read from the top to bottom, left to right.</p>
    </fieldset>
  </div>
  <div id="board">
    <h1>Peg Solver</h1>
    <%= raw draw_board %>
    <%= form_tag('/boards/make_move', :method=>'post') do %>
      <%= label_tag('From') %>
      <%= text_field_tag(:from, nil, options = {autofocus: true, maxlength: 2, size: 2}) %>
      <%= label_tag('To') %>
      <%= text_field_tag(:to, nil, maxlength: 2, size: 2) %>
      <%= submit_tag('Make Move', :class=>'btn', from: :from, to: :to) %>
    <% end %>
  </div>
  <div id="right">
    <fieldset>
      <legend>Valid Moves</legend>
      <%= raw show_valid_moves %>
    </fieldset>
    <br>
    <fieldset id="solutions">
      <legend>Solutions</legend>
      <%= raw build_solution %>
    </fieldset>
  </div>
</div>

<!--
<br>
Solved: <%# @is_solved %>
<br><br>
Valid Move: From 3, over 1, into 0: <%# @boards.is_valid_move('3:1:0') %><br>
Valid Move: From 3, over 4, into 5: <%# @boards.is_valid_move('3:4:5') %><br>
Valid Move: From 0, over 1, into 3: <%# @boards.is_valid_move('0:1:3') %><br>
-->


