<div id="board">
<%= raw draw_board %>
</div>
<br>
<%# form_for @move do |f| %>
    <%# f.label :from %>:
    <%# f.text_field :from %><br />

    <%# f.label :to %>:
    <%# f.text_field :to %><br />

    <%# f.submit %>
<%# end %>

<%= form_tag('/boards/make_move', :method=>'post') do %>
    <%= text_field_tag(:from) %>
    <%= text_field_tag(:to) %>
    <%= submit_tag('Make Move', :class=>'btn', from: :from, to: :to) %>
<% end %>

<%= link_to 'Make Move', boards_make_move_path %>
<br>
<br>
Valid Moves:<br>
<%= raw show_valid_moves %>
<!--
<br>
Solved: <%# @is_solved %>
<br><br>
Valid Move: From 3, over 1, into 0: <%# @boards.is_valid_move('3:1:0') %><br>
Valid Move: From 3, over 4, into 5: <%# @boards.is_valid_move('3:4:5') %><br>
Valid Move: From 0, over 1, into 3: <%# @boards.is_valid_move('0:1:3') %><br>
-->


